html {
  font-size: 14px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(98, 0, 0);
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid green;
}


h1 {
  font-size: 60px;
    font-style: italic;
  text-align: center;
}

p, li, u, l{
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
    align-content: center;
}
